[buildout]
parts = test sphinx sphinx-html
develop = .

[test]
recipe = zc.recipe.testrunner
defaults = ['-v', '-s', 'plone.scale']
eggs = plone.scale [storage]

[sphinx]
recipe = zc.recipe.egg
dependent-scripts = true
scripts = sphinx-build
eggs = plone.scale [sphinx]

[sphinx-html]
recipe = collective.recipe.template
inline =
   #!/bin/bash
   cd ${buildout:directory}/docs
   make html
output = ${buildout:bin-directory}/sphinx-html
mode = 755
